@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #BBC2C0;
    --foreground: #171717;
    --color-green-500: #243831;
    --primary: #49A569;
    --primary-hover: #6bb382;
    --primary-active: #328050;
    --success: #49a569;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
} */

* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}
